/*basic elements*/
body {

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  text-transform: uppercase;
}

/*specific elements*/
.header {
  width: 100%;
  display: inline-block;
}

.inner-header{
  width: 100%;
}



.primary-nav  {
  float: right;
  text-transform: uppercase;
  border-top: thin solid #000000;
  border-bottom: thin solid #000000;
  margin-bottom: 2em;
}

.site-nav li {
  display: block;
  float: right;
  margin: 1em 0 1em 2em;
}

.site-nav a {
  text-decoration: none;
}

.one-third.column.value {
  margin-bottom: 4em;
  text-align: center;
}

.social {
  padding: 4em 0;
  text-align: center;
}

.row li {
  display: inline;
  list-style-type: none;
  padding: 2em;
  text-decoration: none;
}